{% extends 'base.html.twig' %}

{% block title %}Bienvenue à TodoList!
{% endblock %}

{% block body %}
	<div class="container-table mx-auto col-9">
		<div class="container-title d-flex justify-content-between mt-5 mb-2">
			<h4 class="mx-3">Vos Todo Lists:</h4>
			{# j'ai choisi de créer le lien avec le nom de route au lieu de son URL car on pourrait changer l'URL pour mieux SEO #}
			<a href="{{ path("create") }}" class="btn btn-outline-success mx-3">NOUVELLE LISTE</a>
		</div>
		<table class="table table-dark table-striped">
			<thead>
				<tr class="">
					<th scope="">LISTE</th>
					<th scope="">CATÉGORIE</th>
					<th scope="">CRÉÉE LE</th>
					<th scope="">DATE LIMITE</th>
					<th scope="">OPTIONS</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					{% for t in todo %}
						<td>
							<a href="/details/{{ t.id }}">{{ t.title }}</a>
						</td>
						<td>{{ t.category.name }}</td>
						<td>{{ t.createdAt|date("d/m/Y") }}</td>
						<td>{{ t.deadline|date("d/m/Y") }}</td>
						<td>
							<a href="/details/{{ t.id }}" class="btn btn-outline-info text-uppercase">Détails</a>
							<a href="{{ path('edit', {'id':t.id}) }}" class="btn btn-outline-warning">EDITER</a>
							<a href="{{ path("delete", {"id": t.id }) }}" class="btn btn-outline-danger text-uppercase">Effacer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</tr>
	</tbody>
</table></div>{% endblock %}
